<%- include ../../partials/header.ejs %>
<%- include ../../partials/homenavbar.ejs %>

<body>
    <br>
    <div class="container">
           
        <br>
        <% result.articles.rows.forEach(e=> { %>
            <div class="card">
                <div class="card-header">
                    <h1><%= e.title %></h1>
                </div>    
                <div class="card-body">
                    <a href="/<%= e.slug %>" class="btn btn-dark"> Ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %>

        <div class="row">
                <div class="col col-12"> 
                    <% if(result.page > 2) { %>
                    <b><a style="float:left;" href="/articles/page/<%= result.page - 1 %>">P치gina anterior</a></b>
                    <% } else if(result.page==2) { %>
                        <b><a style="float:left;" href="/">P치gina anterior</a></b>
                    <% } %>

                    <% if (result.next) { %>
                        <b><a style="float:right;" href="/articles/page/<%= result.page + 1 %>">Pr칩xima p치gina</a></b>
                    <% } %>
                </div>    
                <hr>
                </div>

    </div>
</body>

<%- include ../../partials/footer.ejs %>